* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "mv-boli";
  src: url("/assets/fonts/mvboli.ttf");
}

body {
  overflow-x: hidden;
}
.app {
  background: #e7ddcf;
  background-image: url("/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "mv-boli";
  overflow-x: hidden;
}
.header-slider {
  display: flex;
  position: absolute;
  /* width: 100%; */
  justify-content: flex-start;
  top: 32px;
  left: 0;
  overflow-x: hidden;
  animation: floating-clouds 20s linear infinite;
}
.bg-mobile-image {
  display: none;
}
.clouds {
}
.clouds img {
  width: 100%;
}
.app .bg-image {
  width: 90%;
}

@media (max-width: 1441px) {
  .app .bg-image {
    width: 100%;
  }
  .app {
    background-size: cover;
  }

  .swap {
    top: 32%;
    left: 31%;
  }
}

.list {
  position: absolute;
  top: 23%;
  left: 59%;
  animation: floating 2.5s ease-in-out infinite;
}
.bedge {
  cursor: pointer;
}

.hub {
  position: absolute;
  top: 48%;
  left: 54.8%;
  animation: floating 2.5s ease-in-out infinite;
}

.sweep {
  position: absolute;
  top: 50%;
  left: 21%;
  animation: floating 2.6s ease-in-out infinite;
}

.market {
  position: absolute;
  top: 59%;
  left: 34%;
  animation: floating 2.7s ease-in-out infinite;
}

.staking {
  position: absolute;
  top: 52%;
  left: 48.7%;
  animation: floating 2.4s ease-in-out infinite;
}

.swap {
  position: absolute;
  top: 32%;
  left: 34.8%;
  animation: floating 2.8s ease-in-out infinite;
}
.perps {
  position: absolute;
  top: 41%;
  left: 71%;
  animation: floating 2.9s ease-in-out infinite;
}

.docs {
  position: absolute;
  top: 54%;
  left: 63%;
  animation: floating 2.5s ease-in-out 0.6s infinite;
}

.modal-layer {
  position: fixed;
  background: rgba(36, 40, 39, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal {
  position: relative;
  width: 468px;
  background: #e2dccc;
  border-radius: 1.25rem;
  padding: 1.75rem 1.75rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "mv-boli";
}
.logo-box {
  margin-bottom: 20px;
}
.modal-title {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 10px;
}
.modal-text {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 24px;
  text-align: center;
}
.modal-btn {
  padding: 14px 44px;
  background: #c9433a;
  border: 1.5px solid rgba(36, 40, 39, 0.83);
  border-radius: 1.25rem;
  color: #fff;
  cursor: pointer;
  font-family: "mv-boli";
  text-decoration: none;
  display: none;
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.open-modal {
  display: flex !important;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px 30px;
}
.btn-inner {
  width: 53px;
}
.btn-inner img {
  width: 100%;
  cursor: pointer;
}
.modal-box {
  background-color: #242827;
  padding: 1rem;
  width: 100%;
  border-radius: 1.25rem;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 1.75rem;
}
.modal-box-title {
  color: #e2dccc;
  margin-bottom: 12px;
  line-height: 24px;
}
.modal-box-text {
  color: #fff;
  margin-bottom: 12px;
}
.modal-button-box {
  display: none;
  gap: 8px;
}
.modal-inner-box {
  background-color: #242827;
  border-radius: 20px;
  color: #fff;
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column;
  align-items: center;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floating-clouds {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1441px) {
  .app .bg-image {
    width: 100%;
  }
  .app {
    background-size: cover;
  }
  .sweep {
    top: 50%;
    left: 12.4%;
  }
  .swap {
    top: 32%;
    left: 31%;
  }

  .hub {
    top: 48%;
    left: 56%;
  }

  .market {
    top: 59%;
    left: 29%;
  }

  .staking {
    top: 52%;
    left: 48.3%;
  }

  .perps {
    top: 41%;
    left: 77%;
  }
  .list {
    top: 22%;
    left: 61.5%;
  }

  .docs {
    top: 54%;
    left: 66.5%;
  }
}

@media (max-width: 768px) {
  .app {
    background-image: url("/assets/images/bg-mobile.png");
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-position: center top;
  }
  .bg-mobile-image {
    display: block;
    width: 100%;
    visibility: hidden;
  }
  .sweep {
    top: 198%;
    left: 21.4%;
  }
  .swap {
    top: 65%;
    left: 23%;
  }

  .hub {
    top: 106%;
    left: 76%;
  }

  .market {
    top: 136%;
    left: 30%;
  }

  .staking {
    top: 275%;
    left: 46.3%;
  }

  .perps {
    top: 157%;
    left: 70%;
  }
  .list {
    top: 41%;
    left: 68.5%;
  }

  .docs {
    top: 238%;
    left: 71.5%;
  }
}
